@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保查看模式下的代码块有基本样式 */
.ql-editor pre {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}